body{
    display: flex;
    align-items: center;
    justify-content: center;
}
#clockContainer{
    height: 40vw;
    width: 40vw;
    border-radius: 50%;
    background: url('https://upload.wikimedia.org/wikipedia/commons/thumb/d/d7/Horlo%C4%9Do_001.svg/1200px-Horlo%C4%9Do_001.svg.png'),linear-gradient(to right, #00ffff -18%, #99ff66 100%);
    background-repeat: no-repeat;
    background-blend-mode: multiply;
    background-size: cover;
    position: relative;
    box-shadow: 1.5vw 1.5vw 1.5vw black;
}
h3{
    position: absolute;
    font-size: 2vw;
    left: 39%;
    top: 14.4%;
    font-family: cursive;
    opacity: 0.4;
}
#center{
    position: absolute;
    width: 2vw;
    height: 2vw;
    border-radius: 50%;
    background-color: black;
    left: 47.5%;
    top: 47.3%;
}
#hours, #minutes, #seconds{
    position: absolute;
    transform-origin: bottom;
    background-color: black;
}
#hours{
    width: 1vw;
    height: 10vw;
    border-radius: 50vw;
    left: 48.8%;
    top: 25.8%;
}
#minutes{
    width: .5vw;
    height: 14vw;
    border-radius: 50vw;
    left: 49.45%;
    top: 15.5%;

}
#seconds{
    width: .3vw;
    height: 17vw;
    border-radius: 50vw;
    left: 49.69%;
    top: 8.1%;
}